$primary: #0a369d;
$highlight: #92b4f4;
$action-primary: #5e7ce2;
$background-highlight: #a4cfff;
$sub: #000000;
$font-family: 'Lato', sans-serif;
$font-weight-heavy: 400;
$cover-url: url('https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg');
$primary-linear-gradient: linear-gradient(to right bottom, 
#92b4f4cc,
#0a369dcc),
$cover-url;