$primary: #0a369d;
$highlight: #92b4f4;
$action-primary: #5e7ce2;
$background-highlight: rgb(164, 207, 255);
$sub: rgba(0, 0, 0, 0.5);
$font-family: 'Lato', sans-serif;
$font-weight-heavy: 400;
$cover-url: url('../images/1.jpeg');
$primary-linear-gradient: linear-gradient(to right bottom, 
#92b4f4ee,
#0a369dee),
$cover-url;
$background-linear-gradient: linear-gradient(to top,
rgba(146, 180, 244, 0.205) 0%,
rgba(255,255,255,.6) 100%);
$mask-gradient: linear-gradient(to bottom right,
rgba(164, 206, 255, 0.3) 0%,
rgba(191, 220, 240, 0.5) 30%,
rgba(207, 227, 231, .1) 100%);
$failure: #b71c1c;