.container {
  min-height: 100%;
  background: $background-linear-gradient;

  > {
    flex-grow: 1;
  }
}

.clipping {
  position: absolute;
  width:80%;
  background: $mask-gradient;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 12% 8%, 16% 15%, 14% 21%, 10% 29%, 12% 38%, 19% 43%, 25% 46%, 28% 54%, 24% 62%, 17% 68%, 13% 72%, 6% 76%, 6% 81%, 4% 86%, 1% 90%, 0% 90%);
  clip-path: polygon(0% 0%, 12% 8%, 16% 15%, 14% 21%, 10% 29%, 12% 38%, 19% 42%, 25% 48%, 27% 54%, 24% 62%, 17% 68%, 13% 72%, 8% 77%, 6% 81%, 4% 86%, 1% 90%, 0% 93%);
}

.sidenav {
  width: 280px;
  flex: 0 1 auto;
  display: none;
}

.dash-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  flex: auto;
  padding: 2% 4% 1% 3%;
  
  .top-nav {
    flex: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .logo {
      padding-right: 3rem;
      flex: none;

      .logo-wrapper {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
        .hamburger {
          flex: none;
        }
        .logo-image {
          flex: auto;

          img {
            width: 100px;
            height: 50px;
          }
        }
      }
    }

    .search {
      flex: 1 1 100%;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      display: flex;

      .search-bar {
        flex-basis: 100%;
        max-width: 520px;

        .form {
          background: rgba(0,0,0,0.04);
          border: none;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          position: relative;
          -webkit-transition: background 100ms ease-in,width 100ms ease-out;
          transition: background 100ms ease-in,width 100ms ease-out;
          display: flex;
          cursor: text;
          padding: 1rem;

          .search-input {
            padding: 0;
            align-items: flex-start;
            overflow: hidden;
            white-space: normal;
            line-height: 2rem;
            flex: auto;
            display: flex;
            flex: auto;
            align-items: stretch;

            .search-text {
              box-sizing: border-box;
              width: 100%;
              background: transparent;
              height: 100%;
              border: none;
              font-size: 1.5rem;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }

    .control {
      flex: none;
      cursor: pointer;

      .controls {
        display: flex;

        .notifications {
          flex: none;
        }
        .username {
          flex: auto;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;

          :last-child{
            flex: none;
          }
        }
      }
    }
  }

  .content {
    flex: auto;
    display: grid;
    grid-template-columns: [colstart] minmax(1.2rem, 1fr) repeat(10, 1fr) [colend] minmax(1.2rem, 2%);
    grid-template-rows: minmax(2rem, 3.5rem) minmax(auto, 2rem) repeat(6, 1fr);
    grid-gap: 16px 32px;
    margin: 3% 0 0 0;
    height: 100%;

    .content__header {
      grid-column: 2 / span 10;
      grid-row: 1;
      display: flex;
      grid-template-columns: repeat(12, 1fr);
      align-items: baseline;
      justify-content: space-between;

      > div {
        margin-left: 1%;
      }

      .page__title {
        font-size: 3rem;
        color: $primary;
        justify-self: flex-start;
      }

      .sorter {
        align-items: center;
        display: flex;
        flex: auto;
        flex-flow: row-reverse nowrap;
        box-sizing: border-box;
        cursor: pointer;
        justify-content: center;
        
        *::before {
          content: '|';
          padding: 2rem;
        }
        :last-child::before {
          content: '';
        }
      }

      .entrycounter {
        display: flex;
        flex-grow: 0;
        justify-content: flex-end;
        align-items: center;

        >* {
          margin: 0 .3rem;
          cursor: pointer;
        }

        .entrycounter__selector {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          .dropdown {
            display: flex;

            :last-child {
              width: 1rem;
            }
          }
        }
      }

      .viewmode__icons {
        display: flex;
        flex: none;
        > div {
          height: 100%;
        }
      }
      .cta {
        flex: none;
        justify-self:  stretch;
        display: flex;
        justify-content: flex-end;
      }
    }

    .renderview {
      grid-column: 2 / span 8;
      grid-row: 3 / -1;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(16, 1fr);

      .linear-view {
        grid-column: 2 /span 15;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
      }
    }

    .personal_actions {
      grid-column: 10 / span 3;
      grid-row: 3 / -1;
      padding: 4% 1%;
      display: grid;
      grid-gap: 1.6rem 0;
      grid-template-rows: 60% 40%;
      margin-bottom: 30%;

      > div {
        border-radius: .8rem;
        background: #bdc7e633;
      }

      .notifications {
        grid-column: span 12;
        grid-row: 1;
      }
      .graphs {
        grid-column: span 12;
      }
    }
  }
}

.form-container {
  display: grid;
  grid-template-areas: "actions"
                       "sections";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: .5rem;
  grid-row-gap: .5rem;
  align-items: center;
  color: rgba(0,0,0,0.5);
  min-height: 60rem;
  overflow-y: scroll;

  .actions {
    grid-area: actions;
    justify-self: end;
  }
}

.sections {
  grid-area: sections;
  display: grid;
  grid-gap: 1rem ;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  
  .section {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title"
                         "details";
    border: .1rem dashed #b6b6b6;
    grid-row-gap: 2.8rem;
    padding: 1rem;
    border-radius: .8rem;
    
    .title {
      grid-area: title;
      padding: .2rem 0 .3rem 0;
      position: relative;
      cursor: default;
      color: $action-primary;
      
      &:after {
        content: '';
        width: 4rem;
        background: $action-primary;
        position: absolute;
        left: .4rem;
        bottom: -1rem;
        border-bottom: .3rem Solid $action-primary;
        box-sizing: border-box;
        box-shadow: 0 .2rem 1rem $action-primary;
        border-radius: 8rem;
      }
    }
    
    .actions {
      grid-area: actions;
      place-self: end;
    }

    .details {
      grid-area: details;
      display: flex;
      flex-flow: column wrap;
      margin: 0 2rem;
      align-content: space-between;
      overflow-x: hidden;
      overflow-y: scroll;

      & > div {
        flex: none;
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        width: 49%;

        & > * {
          align-self: flex-end;
          width: 90%;
          margin: .2rem 0;

          &:nth-child(1) {
            align-self: flex-start;
          }
        }
      }
    }
  }
}

.label input {
  float: right;
}

.company .details {
  height: 25rem;
}

.Spectrum .details {
  height: 45rem;
}
.typeApproval .details {
  height: 50rem;
}
.numbering .details {
  height: 60rem;
}
.broadcasting .details {
  height: 95rem;
}
.postal .details {
  height: 60rem;
}
.telecom .details {
  height: 80rem;
}

.card .summary {
  display: flex;
  justify-content: space-between;

  * {
    cursor: pointer;
  }
}