.container {
  min-height: 100%;
  background: $background-linear-gradient;

  > {
    flex-grow: 1;
  }
}

.clipping {
  position: absolute;
  width:50%;
  background: $mask-gradient;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 12% 8%, 16% 15%, 14% 21%, 10% 29%, 12% 38%, 19% 43%, 25% 46%, 28% 54%, 24% 62%, 17% 68%, 13% 72%, 6% 76%, 6% 81%, 4% 86%, 1% 90%, 0% 90%);
  clip-path: polygon(0% 0%, 12% 8%, 16% 15%, 14% 21%, 10% 29%, 12% 38%, 19% 42%, 25% 48%, 27% 54%, 24% 62%, 17% 68%, 13% 72%, 8% 77%, 6% 81%, 4% 86%, 1% 90%, 0% 93%);
}

.sidenav {
  width: 280px;
  flex: 0 1 auto;
  display: none;
}

.dash-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  flex: auto;
  padding: 2% 4% 1% 3%;
  
  .top-nav {
    flex: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .logo {
      min-width: 200px;
      padding-right: 30px;
      flex: none;

      .logo-wrapper {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
        .hamburger {
          flex: none;
        }
        .logo-image {
          flex: auto;

          img {
            width: 100px;
            height: 50px;
          }
        }
      }
    }

    .search {
      flex: 1 1 100%;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      display: flex;

      .search-bar {
        flex-basis: 100%;
        max-width: 520px;

        .form {
          background: rgba(0,0,0,0.04);
          border: none;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          position: relative;
          -webkit-transition: background 100ms ease-in,width 100ms ease-out;
          transition: background 100ms ease-in,width 100ms ease-out;
          display: flex;
          cursor: text;

          .close-search {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0 4px;
            line-height: 0;
            flex: none;
          }

          .search-input {
            padding: 0;
            align-items: flex-start;
            overflow: hidden;
            white-space: normal;
            line-height: 2rem;
            flex: auto;
            display: flex;
            flex: auto;
            align-items: stretch;

            .search-text {
              box-sizing: border-box;
              width: 100%;
            }

            .search-text:nth-of-type(1) {
              position: absolute;
              left: 0;
              background: transparent;
              opacity: .3;
              padding: 0 15% 0 6%;
              height: 100%;
            }
          }

          .clear-search {
            flex: none;
          }

          .search {
            flex: none;
          }
        }
      }
    }

    .control {
      flex: none;
      cursor: pointer;

      .controls {
        display: flex;

        .notifications {
          flex: none;
        }
        .username {
          flex: auto;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;

          :last-child{
            flex: none;
          }
        }
      }
    }
  }

  .content {
    flex: auto;
    display: grid;
    grid-template-columns: [colstart] minmax(1.2rem, 1fr) repeat(10, 1fr) [colend] minmax(1.2rem, 2%);
    grid-template-rows: minmax(2rem, 3.5rem) minmax(auto, 2rem) repeat(6, 1fr);
    grid-gap: 16px 32px;
    margin: 3% 0 0 0;
    height: 100%;

    .content__header {
      grid-column: 2 / span 10;
      grid-row: 1;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: end;

      .page__title {
        grid-column: 1 / span 3;
        font-size: 3rem;
        color: $primary;
      }

      .sorter {
        grid-column: 4 / span 4;
        align-items: center;
        display: flex;
        flex-flow: row-reverse nowrap;
        box-sizing: border-box;
        cursor: pointer;
        justify-content: stretch;
        
        *::before {
          content: '|';
          padding: 2rem;
        }
        :last-child::before {
          content: '';
        }
      }

      .entrycounter {
        grid-column: 9 / span 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        >* {
          margin: 0 .3rem;
          cursor: pointer;
        }

        .entrycounter__selector {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          .dropdown {
            display: flex;

            :last-child {
              width: 1rem;
            }
          }
        }
      }

      .viewmode__icons {
        grid-column: 11 / span 1;
        display: flex;
        > div {
          height: 100%;
        }
      }
      .cta {
        grid-column: 12;
        justify-self:  stretch;
        display: flex;
        justify-content: flex-end;
      }
    }

    .renderview {
      grid-column: 2 / span 10;
      grid-row: 3 / -1;
      overflow-y: scroll;

      .linear-view {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
      }
    }


  }
}
