:root {
    font-size: 62.5%;
}
  
body {
    font-size: 1.6rem;
    font-family: $font-family;
    font-weight: $font-weight-heavy;
    margin: 0;
}

.main-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.noScroll {
    overflow: hidden;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.col-wrapper {
    display: flex;
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.hidden {
    display: none;
}

.row-wrapper {
    display: flex;
}

.full-height{
    height: 100vh;
}

.full-parent-height {
    height: 100%;
}
.btn__large {
    border-radius:  .5rem;
    padding: 1rem 4rem;
    cursor: pointer;
    background: $action-primary;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    box-sizing: border-box;

    &:hover {
        background: #fff;
        color: $action-primary;
        border: 1px Solid $action-primary;
    }
}

.sub {
    color: $sub;
    font-size: 1.4rem;
    font-weight: 800;
}

.avoid-clicks {
    pointer-events: none;
}

.card {
    min-height: 10rem;
    border-radius: .8rem;
    border: 1px Solid #ccc;
    z-index: 1;
    padding: 1.7rem 2rem;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 .4rem .4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
    transition: all .1s ease-in;

    &:hover {
        box-shadow: 0 0 .8rem 0 $highlight;
        border: 1px Solid $highlight;
    }
}

.active {
    box-shadow: 0 0 3.5rem -.5rem $highlight;
    transition: all .3s ease-in-out;
}

.linear-view {
    * {
        margin: 1%;
    }
}